*{
    background-color: #363636;
    font-family: 'Comic Sans', sans-serif;
    text-align: center;
}


a{
    text-decoration: none;
    color: #D2BEF4;
}

a:hover{
    color: #FFBF00
}

/* Header: */
h1{
    color: #FFBF00
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

/* Table: */

table{
    color:white;
    margin-left: auto;
    margin-right: auto;
}

table, th, td{
    border: 2px solid white;
    border-collapse: collapse;
}

th, td{
    padding: 20px;
}

table li{
    text-align: left;
}

/* 23rd january: */
.css__img{
    width: 700px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.css__specificity{
    list-style-type: none;
}

.css__img--small{
    width:400px;
    display:block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

span{
    border: 1px solid white;
    display: block;
    margin: 10px
}